In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## Load dataset

In [3]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00597/garments_worker_productivity.csv'

In [4]:
df = pd.read_csv(path)

In [5]:
df.sample(n=10)

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
401,1/24/2015,Quarter4,finishing,Saturday,12,0.7,4.08,NaN,1620,0,0.0,0,0,9.0,0.858586
578,2/2/2015,Quarter1,finishing,Monday,6,0.6,2.90,NaN,1200,0,0.0,0,0,10.0,0.280333
343,1/20/2015,Quarter3,sweing,Tuesday,3,0.7,22.52,1134.0,8460,50,0.0,0,0,57.0,0.750038
196,1/12/2015,Quarter2,finishing,Monday,2,0.8,3.94,NaN,1440,0,0.0,0,0,8.0,0.880530
561,2/2/2015,Quarter1,sweing,Monday,1,0.8,22.94,16882.0,7020,113,0.0,0,0,58.5,1.000602
195,1/12/2015,Quarter2,finishing,Monday,3,0.8,4.15,NaN,1800,0,0.0,0,0,10.0,0.905455
408,1/24/2015,Quarter4,sweing,Saturday,5,0.7,20.40,1382.0,10440,50,0.0,0,0,58.0,0.700251
1031,3/3/2015,Quarter1,sweing,Tuesday,7,0.8,30.10,29.0,7080,50,0.0,0,0,59.0,0.800116
69,1/5/2015,Quarter1,sweing,Monday,8,0.8,25.90,1047.0,6780,38,0.0,0,0,56.5,0.800684
879,2/22/2015,Quarter4,sweing,Sunday,10,0.7,21.25,1531.0,6000,0,0.0,0,1,50.0,0.456875

In [6]:
df.shape

(1197, 15)

Bộ dữ liệu có 1197 sample và 15 feature.

## Data wrangling

### Kiểm tra kiểu dữ liệu của từng cột.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

Chuyển kiểu của `date` về dạng datetime.

In [8]:
df['date'] = pd.to_datetime(df['date'])

In [9]:
df['date'].sample(n=5)

868    2015-02-22
504    2015-01-29
336    2015-01-19
1133   2015-03-09
811    2015-02-17
Name: date, dtype: datetime64[ns]

### Xem các giá trị khác nhau của các biến kiểu object.

In [10]:
df['quarter'].unique()

array(['Quarter1', 'Quarter2', 'Quarter3', 'Quarter4', 'Quarter5'],
      dtype=object)

In [11]:
df['department'].unique()

array(['sweing', 'finishing ', 'finishing'], dtype=object)

Có 2 department là `sweing` (bị viết sai chính tả) và `finishing` (có 1 từ bị dư dấu cách cuối). Sửa lại cho đúng.

In [12]:
df['department'] = df['department'].apply(lambda x: 'sewing' if x == 'sweing' else 'finishing')

In [13]:
df['department'].unique()

array(['sewing', 'finishing'], dtype=object)

In [14]:
df['day'].unique()

array(['Thursday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype=object)

Trong các giá trị của biến `day` không có 'Friday' $\rightarrow$ các công nhân được nghỉ ngày thứ sáu.

In [15]:
df['team'].unique()

array([ 8,  1, 11, 12,  6,  7,  2,  3,  9, 10,  5,  4], dtype=int64)

Biến `team` mang tính phân loại (categorical), vì ý nghĩa của nó là số thứ tự của team chứ không mang ý nghĩa về mặt giá trị số. Do đó chuyển về 'object' và phân tích như biến categorical.

In [16]:
df['team'] = df['team'].apply(lambda x: 'Team'+str(int(x)))

### Kiểm tra giá trị null.

In [17]:
df.isna().sum(axis=0)

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

Feature `wip` có tới 506 giá trị null, ta điền giá trị khuyết bằng phương pháp kNN Imputer với thư viện sklearn.

In [18]:
from sklearn.impute import KNNImputer

imputer = KNNImputer()
df[df.columns[5:]] = imputer.fit_transform(df.iloc[:,5:])

In [19]:
df['wip'].isna().sum()

0

In [20]:
df['wip']

0       1108.0
1        994.4
2        968.0
3        968.0
4       1170.0
         ...
1192     994.4
1193     994.4
1194     994.4
1195     632.8
1196     926.0
Name: wip, Length: 1197, dtype: float64

## Wrapping in a single function

In [21]:
def data_loader(path='https://archive.ics.uci.edu/ml/machine-learning-databases/00597/garments_worker_productivity.csv',
                preprocessing=False):
    df = pd.read_csv(path)
    if preprocessing == True:
        df['date'] = pd.to_datetime(df['date'])
        df['department'] = df['department'].apply(lambda x: 'sewing' if x == 'sweing' else 'finishing')
        df['team'] = df['team'].apply(lambda x: 'Team'+str(int(x)))
        from sklearn.impute import KNNImputer
        imputer = KNNImputer()
        df[df.columns[5:]] = imputer.fit_transform(df.iloc[:,5:])
    return df

In [22]:
df1 = data_loader(preprocessing=True)

In [23]:
df1.dtypes

date                     datetime64[ns]
quarter                          object
department                       object
day                              object
team                             object
targeted_productivity           float64
smv                             float64
wip                             float64
over_time                       float64
incentive                       float64
idle_time                       float64
idle_men                        float64
no_of_style_change              float64
no_of_workers                   float64
actual_productivity             float64
dtype: object

In [24]:
df1.isna().sum(axis=0)

date                     0
quarter                  0
department               0
day                      0
team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

In [26]:
# Lưu dữ liệu
df1.to_csv("preprocess_data.csv", index=False)